* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  // border: 1px #555 solid;
}

button {
  cursor: pointer;
}

// nav bar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  width: 100vw;
  height: 8%;
  min-height: 60px;

  .navbar__searchbar {
    border: #555 1px solid;
  }

  .navbar__btn {
    margin-right: 8%;
    width: 150px;
    height: 36px;
    border-radius: 18px;
  }
}

.scroll-buttons {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  left: 95%;
  top: 50%;
  button {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 6px;
    margin: 3px;
  }
}

// mainpage sections
.mainpage__sections {
  display: flex;
  flex-direction: column;

  .mainSection {
    height: 100vh;
    background-color: #eee;
  }
  .besttagsSection {
    height: 100vh;
    background-color: #555;
  }
  .newListsSection {
    height: 100vh;
    background-color: #eee;
  }
}
