.alertModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.alertModal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.alertModal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.alertModal > section > header {
  position: relative;
  padding: 16px;
  background-color: #f1f1f1;
  font-weight: 700;
}
.alertModal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: alertModal-bg-show 0.3s;
}

@keyframes alertModal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes alertModal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
